<div class="form-container">
  <h1>CRUD TABLE</h1>
    <form [formGroup]="productForm" (ngSubmit)="isEditing ? updateProduct() : addProduct()">
      <label for="name">Name:</label>
      <input id="name" formControlName="name" type="text" />
  
      <label for="price">Price:</label>
      <input id="price" formControlName="price" type="number" />
  
      <label for="category">Category:</label>
      <input id="category" formControlName="category" type="text" />
  
      <button type="submit" [disabled]="productForm.invalid">
        {{ isEditing ? 'Update' : 'Add' }} Product
      </button>
      <button type="button" (click)="cancelEdit()" *ngIf="isEditing">Cancel</button>
    </form>
  </div>
  
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category }}</td>
          <td>
            <button (click)="editProduct(i)">Edit</button>
            <button (click)="deleteProduct(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
